{{#each comments}}
  <div class="comment">
    <p>{{comment_text}}</p>
    <p>Posted by: {{user.name}}</p>
    <p>Date: {{formatDate date_created}}</p>
  </div>
{{else}}
  <p>No comments yet.</p>
{{/each}}